.location__card {
  width: 100%;
  height: 600px;
  border: none;
  margin-bottom: 30px;
}

@media screen and (max-width: 1280px) {
  .location__card {
    height: 500px;
  }
}

@media screen and (max-width: 990px) {
  .location__card {
    height: 400px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 760px) {
  .location__card {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .location__card {
    height: 220px;
  }
}

@media screen and (max-width: 400px) {
  .location__card {
    height: 180px;
  }
}