.menu__item {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .menu__item {
    height: 550px;
  }
}

@media screen and (max-width: 990px) {
  .menu__item {
    height: 500px;
  }
}

@media screen and (max-width: 880px) {
  .menu__item {
    height: 450px;
  }
}

@media screen and (max-width: 760px) {
  .menu__item {
    height: 380px;
  }
}

@media screen and (max-width: 620px) {
  .menu__item {
    height: 300px;
  }
}

@media screen and (max-width: 550px) {
  .menu__item {
    height: 260px;
  }
}

@media screen and (max-width: 480px) {
  .menu__item {
    height: 220px;
  }
}

@media screen and (max-width: 400px) {
  .menu__item {
    height: 180px;
  }
}