.intro__text {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  margin: 0 0 10px;
}

.intro__text:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 990px) {
  .intro__text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 760px) {
  .intro__text {
    font-size: 14px;
    line-height: 18px;
  }
}