.header__title {
  font-size: 100px;
  font-weight: 900;
  margin: 200px 0 0;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .header__title {
    font-size: 80px;
    margin-top: 180px;
  }
}

@media screen and (max-width: 990px) {
  .header__title {
    font-size: 60px;
    margin-top: 150px;
  }
}

@media screen and (max-width: 760px) {
  .header__title {
    font-size: 45px;
    margin-top: 120px;
  }
}

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 38px;
    margin-top: 180px;
  }
}